.card {
  width: 950px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.users-post {
  background-color: #eb5454;
  color: rgb(52, 51, 51);
}

.users-post .message-button {
  color: rgb(52, 51, 51);
  border: 1px solid rgb(52, 51, 51);
}

#post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buttons {
  margin-top: 10px;
}

.message-button {
  color: rgb(237, 28, 36);
  border: 1px solid rgb(237, 28, 36);
  padding: 3px 5px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}
