.post-body {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.card {
  margin: 10px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.users-post {
  background-color: #eb5454;
  color: rgb(52, 51, 51);
}

.users-post .message-button {
  color: rgb(52, 51, 51);
  border: 1px solid rgb(52, 51, 51);
}

#post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-buttons {
  margin-top: 10px;
}

.message-button {
  color: rgb(237, 28, 36);
  border: 1px solid rgb(237, 28, 36);
  padding: 3px 5px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.search-value {
  width: 40%;
  margin-right: 10px;
}

.search-button {
  padding: 0 10px;
  font-weight: bold;
}
