#logo img {
  width: 200px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: rgb(237, 28, 36);
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#links a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(237, 28, 36);
}
