* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

#main {
  min-height: 50%;
  flex-grow: 1;
  background-color: rgb(235, 84, 84);
  display: flex;
  justify-content: center;
}

#content {
  width: 600px;
  background-color: rgb(228, 222, 222);
  margin: 15px;
  border: 2px solid black;
  border-radius: 10px;
}
